.p {
    text-align: center;
    font-size: 100px;
    padding-top: 40px;
}

.mainCont {
    width: 70%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;

}

.btn.btn-success {
    padding: 16px 200px;
    font-size: 60px;
    border-radius: 20px;
}